
* {
    margin: 0;
    padding: 0;
    background-image: url("Image/wallpaper-hd-branco-5-1920x1200.jpg");
  }
  
  body {
    height: 200px;;
  }
  
  main {
    width: 60%;
    background-color: rgb(12, 9, 9);
    border-radius: 20px;
    margin: 30px auto;
    padding: 10px;
  }
  
  h1 {
    font-family: 'Dancing', sans-serif;
  }
  
  p {
    font-family: 'Dancing', sans-serif;
    font-style: italic;
  }
  
  #cria-tarefa,
  #texto-tarefa,
  #apaga-tudo,
  #remove-finalizado,
  #salva-tarefas,
  #mover-para-cima,
  #mover-para-baixo,
  #remove-selecionado {
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
    font-family: 'Dancing', sans-serif;
    font-size: medium;
    font-weight: bold;
    outline: none;
  }
  
  #cria-tarefa,
  #apaga-tudo,
  #remove-finalizado,
  #salvar-tarefas,
  #mover-para-cima,
  #mover-para-baixo,
  #remove-selecionado {
    cursor: pointer;
    color: rgb(75, 102, 112);
  }
  
  
  #cria-tarefa 
  #mover-para-cima 
  #salvar-tarefas
  #apaga-tudo
  #remove-finalizado
  #remove-selecionado 
  #mover-para-baixo {
    border: 2px #3a5681 solid;
  }
  
  #lista-tarefas {
    font-family: 'Dancing', sans-serif;
    margin: 20px;
    font-size: larger;
  }
  
  .item-lista {
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .ativo {
    background-color: gray;
  }
  
  .completed {
    text-decoration: line-through rgb(0, 0, 0) solid;
  }
